<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title if title else 'My App' }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        </div>
        <h1><center>Application</center></h1>
        <div class="user-info">
            {% if 'username' in session %}
            <span>Welcome, {{ session['username'] }}</span>
            <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
            {% endif %}
        </div>
    </header>
    
    <nav>
        <ul>
            {% if 'username' in session %}
            
            <li><a href="{{ url_for('dashboard') }}" class="{% if request.endpoint == 'dashboard' %}active{% endif %}">Dashboard</a></li>
            <li><a href="{{ url_for('customers') }}" class="{% if request.endpoint in [ 'customers', 'project_details'] %}active{% endif %}">Quotes</a></li>
            <li><a href="{{ url_for('vendors_bp.vendors') }}" 
                   class="{% if request.endpoint in ['vendors_bp.vendors', 'vendors_bp.materials', 'vendors_bp.coatings', 'vendors_bp.products', 'vendors_bp.systems'] %}active{% endif %}">
                Admin
            </a></li>

            
            {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
    
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
